html{
	background: url(../aleya.gif) no-repeat center center fixed;
	background-size: cover;
}

table{
	
	padding:10px;
	cellspacing: 5px;
	position: relative;
/*	margin:auto;*/
}
th{
	position: relative;
	margin:auto;
	font-weight: bold;
	font-size: 25px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;


}
tr{
	position:relative;
	background-color:lightblue;


}
td{
	font-family: helvetica;
	padding: 10px;
	margin-top: 5px;
}

.player{
	position: relative;
	/*margin: auto;*/
	display: table;
}